version: "3.9"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - videotube_network

  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - videotube_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - videotube_network

  backend:
    build: ./backend
    container_name: backend_container
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/videotube
      - REDIS_HOST=redis
      - RABBITMQ_URI=amqp://rabbitmq:5672
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
      - redis
      - rabbitmq
    networks:
      - videotube_network

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - videotube_network

  email-service:
    build: ./email-microservice
    container_name: email_service_videotube
    env_file:
      - ./email-microservice/.env
    environment:
      - RABBITMQ_URI=amqp://rabbitmq:5672
    ports:
      - "5001:5001"
    volumes:
      - ./email-microservice:/app
      - /app/node_modules
    depends_on:
      - rabbitmq
    networks:
      - videotube_network

volumes:
  mongo_data:
  redis_data:

networks:
  videotube_network:
    driver: bridge
