services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - videotube_network

  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - videotube_network

  backend:
    build: ./backend
    container_name: backend_container
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
      - redis
    networks:
      - videotube_network

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - videotube_network

volumes:
  mongo_data: {}
  redis_data: {}

networks:
  videotube_network:
    driver: bridge
